<tr class="small text-uppercase ">
    <th scope="col " title="Version Transaction ID ">Version</th>
    <th scope="col " title="UTC Time ">Expiration Time</th>
    <th scope="col " title="Transaction Type ">Type</th>
    <th scope="col " width="200 " title="Sender Address ">From</th>
    <th scope="col " width="20 "></th>
    <th scope="col " width="200 " title="Receiver Address ">To</th>
    <th scope="col " title="Transfer Amount ">Amount</th>
    <th scope="col " title="Transaction Fee ">TX Fee</th>
</tr>